<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bzerhia.weibo.mapper.BlogMapper">
	<resultMap id="weiboResultMap" type="Blog">
		<id property="id" column="bid"/>
		<result property="title" column="title"/>
		<result property="titlePage" column="title_page"/>
		<result property="text" column="text"/>
		<result property="publishTime" column="publish_time"/>
		<result property="blogType" column="blog_type"/>
		<association property="user" column="user" javaType="User">
			<id property="id" column="uid"/>
			<result property="username" column="username"/>
			<result property="password" column="password"/>
			<result property="sex" column="sex"/>
			<result property="phone" column="phone"/>
			<result property="address" column="address"/>
			<result property="username" column="username"/>
			<result property="type" column="type"/>
			<result property="registerTime" column="register_time"/>
			<result property="salt" column="salt"/>
			<result property="image" column="image"/>
		</association>
		<association property="type" column="type" javaType="Type">
			<id property="id" column="tid"/>
			<result property="classification" column="classification"/>
		</association>
		<association property="picture" column="picture" javaType="Picture">
			<id property="id" column="pid"/>
			<result property="title" column="ptitle"/>
			<result property="src" column="src"/>
		</association>
		<association property="comment" column="comment" javaType="Comment">
			<id property="id" column="cid"/>
			<result property="text" column="ctext"/>
			<result property="replyTime" column="reply_time"/>
			<result property="picture" column="picture"/>
			<association property="user1" column="user_id" javaType="User">
				<id property="id" column="u2id"/>
				<result property="username" column="u2name"/>
				<result property="password" column="u2word"/>
				<result property="sex" column="sex"/>
				<result property="phone" column="phone"/>
				<result property="address" column="address"/>
				<result property="type" column="type"/>
				<result property="registerTime" column="u2time"/>
				<result property="salt" column="salt"/>
				<result property="image" column="image"/>
			</association>
			<association property="comments" column="comments" javaType="Comment">
				<id property="id" column="c2id"/>
				<result property="text" column="c2text"/>
				<result property="replyTime" column="create_time"/>
				<result property="picture" column="picture"/>
				<result property="userId" column="u2userId"/>
				<association property="user1" column="user" javaType="User">
					<id property="id" column="u2id"/>
					<result property="username" column="u2name"/>
				</association>
			</association>
		</association>
	</resultMap>

	<resultMap id="blogResultMap" type="Blog">
		<id property="id" column="id"/>
	</resultMap>

	<resultMap id="photoResultMap" type="Blog">
		<id property="id" column="id"/>
		<result property="title" column="title"/>
		<association property="picture" column="picture" javaType="Picture">
			<id property="id" column="pid"/>
			<result property="src" column="src"/>
			<result property="userId" column="user_id"/>
			<result property="blogId" column="blog_id"/>
		</association>
	</resultMap>

	<resultMap id="blogByIdResultMap" type="Blog">
		<id property="id" column="bid"/>
		<result property="title" column="title"/>
		<result property="titlePage" column="title_page"/>
		<result property="text" column="text"/>
		<result property="publishTime" column="publish_time"/>
		<result property="blogType" column="blog_type"/>
		<association property="user" column="user_id" javaType="User">
			<id property="id" column="uid"/>
			<result property="username" column="username"/>
			<result property="image" column="image"/>
		</association>
		<association property="picture" column="picture" javaType="Picture">
			<id property="id" column="pid"/>
			<result property="src" column="src"/>
		</association>
		<association property="comment" column="comment" javaType="Comment">
			<id property="id" column="cid"/>
			<result property="text" column="ctext"/>
			<result property="replyTime" column="reply_time"/>
			<result property="picture" column="picture"/>
			<result property="userId" column="user_id"/>
			<association property="user1" column="user1" javaType="User">
				<id property="id" column="uuid"/>
				<result property="username" column="uuname"/>
				<result property="image" column="uuimage"/>
			</association>
			<association property="comments" column="comments" javaType="Comment">
				<id property="id" column="c2id"/>
				<result property="text" column="c2text"/>
				<result property="replyTime" column="create_time"/>
				<result property="picture" column="picture"/>
				<result property="userId" column="u2userId"/>
				<association property="user1" column="user" javaType="User">
					<id property="id" column="u2id"/>
					<result property="username" column="u2name"/>
				</association>
			</association>
		</association>
	</resultMap>

	<resultMap id="blogByIdResultMap2" type="Blog">
		<id property="id" column="bid"/>
		<result property="title" column="title"/>
		<result property="titlePage" column="title_page"/>
		<result property="text" column="text"/>
		<result property="publishTime" column="publish_time"/>
		<result property="blogType" column="blog_type"/>
		<association property="user" column="user_id" javaType="User">
			<id property="id" column="uid"/>
			<result property="username" column="username"/>
			<result property="image" column="image"/>
		</association>
		<association property="picture" column="picture" javaType="Picture">
			<id property="id" column="pid"/>
			<result property="src" column="src"/>
		</association>
		<association property="comment" column="comment" javaType="Comment">
			<id property="id" column="cid"/>
			<result property="text" column="ctext"/>
			<result property="replyTime" column="reply_time"/>
			<result property="picture" column="picture"/>
			<result property="userId" column="user_id"/>
		</association>
	</resultMap>
	<resultMap id="blogByIdResultMap3" type="Blog">
		<id property="id" column="bid"/>
		<result property="title" column="title"/>
		<result property="titlePage" column="title_page"/>
		<result property="text" column="text"/>
		<result property="publishTime" column="publish_time"/>
		<result property="blogType" column="blog_type"/>
		<association property="user" column="user_id" javaType="User">
			<id property="id" column="uid"/>
			<result property="username" column="username"/>
			<result property="image" column="image"/>
		</association>
		<association property="picture" column="picture" javaType="Picture">
			<id property="id" column="pid"/>
			<result property="src" column="src"/>
		</association>
	</resultMap>

	<resultMap id="findByTime" type="Blog">
		<id property="id" column="bid"/>
		<result property="title" column="title"/>
		<result property="titlePage" column="title_page"/>
		<result property="publishTime" column="publish_time"/>
		<result property="typeId" column="type_id"/>
		<association property="picture2" column="picture2" javaType="Picture">
			<id property="id" column="pid"/>
			<result property="src" column="src"/>
		</association>
	</resultMap>

	<resultMap id="findByType" type="Blog">
		<id property="id" column="bid"/>
		<result property="title" column="title"/>
		<result property="titlePage" column="title_page"/>
		<result property="text" column="text"/>
		<result property="publishTime" column="publish_time"/>
		<result property="blogType" column="blog_type"/>
		<collection property="user" column="user_id" javaType="User">
			<id property="id" column="uid"/>
			<result property="username" column="username"/>
			<result property="image" column="image"/>
		</collection>
		<collection property="picture" column="picture" javaType="Picture">
			<id property="id" column="pid"/>
			<result property="src" column="src"/>
		</collection>
	</resultMap>
	<resultMap id="findById2" type="Blog">
		<id property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="text" column="text"/>
		<result property="typeId" column="type_id"/>
		<result property="blogType" column="blog_type"/>
		<result property="userId" column="user_id"/>
	</resultMap>

	<resultMap id="findAll3" type="Blog">
		<id property="id" column="bid"/>
		<result property="title" column="title"/>
		<result property="text" column="text"/>
		<result property="typeId" column="type_id"/>
		<result property="blogType" column="blog_type"/>
		<result property="publishTime" column="publish_time"/>
		<association property="type" column="type" javaType="Type">
			<id property="id" column="tid"/>
			<result property="classification" column="classification"/>
		</association>
	</resultMap>

	<resultMap id="findByLike" type="Blog">
		<id property="id" column="bid"/>
		<result property="title" column="title"/>
		<result property="titlePage" column="title_page"/>
		<result property="publishTime" column="publish_time"/>
		<association property="user" column="user" javaType="User">
			<id property="id" column="uid"/>
			<result property="username" column="username"/>
			<result property="image" column="image"/>
		</association>
		<collection property="picture" column="picture" javaType="Picture">
			<id property="id" column="pid"/>
			<result property="src" column="src"/>
		</collection>
	</resultMap>
	<insert id="addBlog" parameterType="Blog" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_blog(id,title,title_page,text,user_id,publish_time,type_id,blog_type)
		VALUES (#{id},#{title},#{titlePage},#{text},#{userId},#{publishTime},#{typeId},#{blogType})
	</insert>
	<select id="findAll" resultMap="weiboResultMap" >
		select 	 b.id bid,b.title,b.title_page,b.text,b.publish_time,
			   u.id uid,u.username,u.`password`,u.sex,u.register_time,
			   t.id tid,t.classification,
			   p.id pid,p.src,
			   c.id cid,c.user_id,c.blog_id,c.text ctext,c.reply_time,c.picture,
				 u2.id u2id,u2.username u2name,u2.`password` u2word,u2.sex u2sex,u2.register_time u2time
		from t_blog b
		LEFT JOIN t_user u on b.user_id=u.id
		LEFT JOIN t_type t on b.type_id=t.id
		LEFT JOIN t_picture p on p.blog_id=b.id
		LEFT JOIN t_comment c on c.blog_id=b.id
		LEFT JOIN t_user u2 on u2.id=c.user_id;
	</select>

	<select id="findByTitle" resultMap="blogResultMap">
		select * FROM t_blog where title=#{title}
	</select>

	<select id="findByPhoto" resultMap="photoResultMap">
		SELECT b.id,b.title,
			 p.id pid,p.src
		 FROM t_blog b
		LEFT JOIN t_picture p on p.blog_id=b.id
		WHERE p.user_id=#{userId}
	</select>

	<select id="findAllByPhoto" resultMap="photoResultMap">
		SELECT b.id,b.title,
			 p.id pid,p.src
		 FROM t_blog b
		LEFT JOIN t_picture p on p.blog_id=b.id;
	</select>

	<select id="findByUserId" resultMap="blogByIdResultMap2">
		select b.id bid,b.title,b.title_page,b.blog_type,b.publish_time,b.text,b.user_id,b.type_id,
			 u.id uid,u.username,u.image,
			 p.id pid,p.src,
			 c.id cid,c.text ctext,c.user_id,c.reply_time,c.picture
		from t_blog b
		LEFT JOIN t_user u on b.user_id=u.id
		LEFT JOIN t_picture p on p.blog_id=b.id
		LEFT JOIN t_comment c on c.blog_id=b.id
		WHERE b.user_id=#{userId}
		ORDER BY b.publish_time ASC
	</select>

	<select id="findByUserId2" resultMap="blogByIdResultMap2">
		select b.id bid,b.title,b.title_page,b.blog_type,b.publish_time,b.text,b.user_id,b.type_id,
			 u.id uid,u.username,u.image,
			 p.id pid,p.src,
			 c.id cid,c.text ctext,c.user_id,c.reply_time,c.picture
		from t_blog b
		LEFT JOIN t_user u on b.user_id=u.id
		LEFT JOIN t_picture p on p.blog_id=b.id
		LEFT JOIN t_comment c on c.blog_id=b.id
		WHERE b.user_id=#{userId}
		ORDER BY b.publish_time desc
	</select>


	<select id="findById" resultMap="blogByIdResultMap">
		select b.id bid,b.title,b.title_page,b.blog_type,b.publish_time,b.text,b.user_id,b.type_id,
			 u.id uid,u.username,u.image,
			 p.id pid,p.src,
			 c.id cid,c.text ctext,c.user_id,c.reply_time,c.picture,
			 uu.id uuid,uu.username uuname,uu.image uuimage,
			 c2.id c2id,c2.text c2text,c2.user_id c2userId,c2.create_time,
			 u2.id u2id,u2.username u2name
		from t_blog b
		LEFT JOIN t_user u on b.user_id=u.id
		LEFT JOIN t_picture p on p.blog_id=b.id
		LEFT JOIN t_comment c on c.blog_id=b.id
		LEFT JOIN t_user uu on c.user_id=uu.id
		LEFT JOIN t_comment2 c2 on c2.comment_id=c.id
		LEFT JOIN t_user u2 on c2.user_id=u2.id
		WHERE b.id=#{blogId}
	</select>

	<select id="findAll2" resultMap="blogByIdResultMap3">
		select b.id bid,b.title,b.title_page,b.blog_type,b.publish_time,b.text,b.user_id,b.type_id,
			 u.id uid,u.username,u.image,
			 p.id pid,p.src
		from t_blog b
		LEFT JOIN t_user u on b.user_id=u.id
		LEFT JOIN t_picture p on p.blog_id=b.id
		ORDER BY RAND() LIMIT 20
	</select>

	<select id="findByTime" resultMap="findByTime">
		select b.id bid,b.publish_time,b.title,b.title_page,b.type_id,
			   p.id pid,p.src
		FROM t_blog b
		LEFT JOIN t_picture p on p.blog_id=b.id
		GROUP BY publish_time desc,b.id desc
	</select>

	<select id="findByType" resultMap="findByType">
		select b.id bid,b.title,b.title_page,b.blog_type,b.publish_time,b.text,b.user_id,b.type_id,
			 u.id uid,u.username,u.image,
			 p.id pid,p.src
		from t_blog b
		LEFT JOIN t_user u on b.user_id=u.id
		LEFT JOIN t_picture p on p.blog_id=b.id
		WHERE b.type_id=#{type}
	</select>

	<select id="findByType2" resultMap="findByType">
		select b.id bid,b.title,b.title_page,b.blog_type,b.publish_time,b.text,b.user_id,b.type_id,
			 u.id uid,u.username,u.image,
			 p.id pid,p.src
		from t_blog b
		LEFT JOIN t_user u on b.user_id=u.id
		LEFT JOIN t_picture p on p.blog_id=b.id
		WHERE b.type_id=1
	</select>

	<delete id="delete" parameterType="Blog">
		delete from t_blog where id=#{blogId}
	</delete>

	<update id="update" parameterType="Blog">
		UPDATE t_blog
		<set>
			<if test="title!=null">title=#{title},</if>
			<if test="text!=null">text=#{text},</if>
			<if test="typeId!=null">type_id=#{typeId},</if>
		</set>
		where id=#{id}
	</update>

	<update id="updateTitlePage" parameterType="Blog">
		update t_blog set title_page=#{titlePage} where id=#{blogId}
	</update>

	<select id="findById2" resultMap="findById2">
		select * from t_blog where id=#{id}
	</select>

	<select id="findAll3" resultMap="findAll3">
		select b.id bid,b.title,b.text,b.publish_time,b.type_id,b.blog_type,
			   t.id tid,t.classification
		from t_blog b
		LEFT JOIN t_type t on b.type_id=t.id;
	</select>

	<update id="updateBlogType" parameterType="Blog">
		update t_blog set type_id=#{typeId} where id=#{blogId}
	</update>

	<select id="findByLike" resultMap="findByLike">
		select b.id bid,b.title,b.title_page,b.publish_time,
		   p.id pid,p.src,
			 u.id uid,u.image,u.username
		 from t_blog b
		LEFT JOIN t_picture p on p.blog_id=b.id
		LEFT JOIN t_user u on b.user_id=u.id
		WHERE b.title LIKE #{like}
	</select>
</mapper>
