<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cn.bzerhia.weibo.mapper.TypeMapper">
	<select id="findAll" resultType="Type">
		SELECT * FROM t_type WHERE id>2
	</select>
	<select id="findAll2" resultType="Type">
		SELECT * FROM t_type
	</select>
	<insert id="addType"  parameterType="Type" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_type(classification) VALUES(#{classification})
	</insert>
	<update id="update" parameterType="Type" >
		UPDATE t_type SET classification=#{classification} WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="Type">
		DELETE FROM t_type WHERE id=#{typeId}
	</delete>
</mapper>
