<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="cn.bzerhia.weibo.entity.User" alias="User"/>
        <typeAlias type="cn.bzerhia.weibo.entity.Blog" alias="Blog"/>
        <typeAlias type="cn.bzerhia.weibo.entity.Comment" alias="Comment"/>
        <typeAlias type="cn.bzerhia.weibo.entity.Type" alias="Type"/>
        <typeAlias type="cn.bzerhia.weibo.entity.Picture" alias="Picture"/>
        <typeAlias type="cn.bzerhia.weibo.entity.Collect" alias="Collect"/>
        <typeAlias type="cn.bzerhia.weibo.entity.Like" alias="Like"/>
        <typeAlias type="cn.bzerhia.weibo.entity.Follow" alias="Follow"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/blog?useUnicode=true&amp;characterEncoding=utf-8" />
                <property name="username" value="root" />
                <property name="password" value="123456" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/UserMapper.xml" />
        <mapper resource="mapper/BlogMapper.xml" />
        <mapper resource="mapper/CommentMapper.xml" />
        <mapper resource="mapper/TypeMapper.xml" />
        <mapper resource="mapper/PictureMapper.xml" />
        <mapper resource="mapper/CollectMapper.xml" />
        <mapper resource="mapper/LikeMapper.xml" />
        <mapper resource="mapper/FollowMapper.xml" />
    </mappers>
</configuration>
